{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Baydell</h1>
        <h5 class="header col s12 light grey-text">This site is used to display your modmail log entries! Powered by Press Start.</h5>
        <br>
        <div class="row center">
            <a href="https://discord.gg/MWbSnnaVQQ" class="btn waves-effect my-button">Press Start</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
